.chat-area {
  display: grid;
  grid-template-rows: 60px 1fr 55px;
  overflow: hidden;
  height: 100%;
}

/* Tablet */
@media (max-width: 768px) {
  .chat-area {
    grid-template-rows: 60px 1fr 55px;
    height: 100%;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .chat-area {
    grid-template-rows: 60px 1fr 55px;
    height: 100%;
  }
}