.chat-area {
  display: grid;
  grid-template-rows: 15% 76% 9%;
  overflow-y: auto;
  height: 100%;
}

/* Tablet */
@media (max-width: 768px) {
  .chat-area {
    grid-template-rows: 12% 79% 9%;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .chat-area {
    grid-template-rows: 60px 1fr 55px;
    height: calc(100vh - 250px);
  }
}