.chat-area-footer {
  display: flex;
  background-color: white;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
}
.chat-area-footer input {
  /* border: 1px solid #ddd; */
  border: none;
  outline: none;
  padding: 13px 15px;
  width: 80%;
  height: 100%;
}
.chat-area-footer-icons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.chat-area-footer-icons i {
  color: green;
  font-size: 27px;
}
.emoji {
  position: absolute;
  bottom: 50px;
}