.aside {
  display: grid;
  grid-template-rows: 70px 1fr;
  overflow: hidden;
  height: 100%;
  border-right: 1px solid #e0e0e0;
}

.chat-list {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: darkgreen #e9f3ec;
}

.chat-list::-webkit-scrollbar {
  width: 6px;
}

.chat-list::-webkit-scrollbar-track {
  background: #e9f3ec;
}

.chat-list::-webkit-scrollbar-thumb {
  background-color: darkgreen;
  border-radius: 10px;
}

/* Tablet + Mobile */
@media (max-width: 768px) {
  .aside {
    grid-template-rows: 70px 1fr;
    height: 100%;
    width: 100%;
    border-right: none;
  }
}