.aside {
  display: grid;
  grid-template-rows: 15% 85%;
  overflow-y: hidden;
  height: 100%;
  border-right: 1px solid #e0e0e0;
}

.chat-list {
  overflow-y: auto;
  scrollbar-width: thin;
}

/* Tablet */
@media (max-width: 768px) {
  .aside {
    grid-template-rows: 12% 88%;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .aside {
    grid-template-rows: 60px 1fr;
    height: 250px;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
  }

  .chat-list {
    overflow-y: auto;
  }
}