.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  flex-shrink: 0;
}

.search-box div {
  border: 1px solid #ddd;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 50px;
  padding: 0 12px;
}

.search-box div input {
  border: none;
  outline: 0;
  width: 100%;
  font-size: 14px;
  background: transparent;
}

.search-box i {
  font-size: 18px;
  color: green;
  flex-shrink: 0;
}